html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.modal-title {
  text-transform: capitalize;
}

.poke-image {
  min-height: 200px;
}
.modal-left {
  padding-top: 40px;
}

.btn {
  margin: 1px;
}
